body {
    padding-left: 2px;
    padding-right: 2px;
    font-family: Georgia, "Times New Roman",
        Times, serif;
    color: purple;
    background-color: lightblue
}

ul.navbar {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 2em;
    left: 1em;
    width: 9em
}

h1 {
    font-family: Helvetica, Geneva, Arial,
        SunSans-Regular, sans-serif;
    color: white;
}

h1.h1_customized {
    font-family: Helvetica, Geneva, Arial,
        SunSans-Regular, sans-serif;
    color: red;
}

ul.navbar li {
    background: white;
    margin: 0.5em 0;
    padding: 0.3em;
    border-right: 1em solid black
}

ul.navbar a {
    text-decoration: none
}

a:link {
    color: blue
}

a:visited {
    color: purple
}

.div_centrado {
    background-color: blue;
}

