    body {
      padding-left: 2px;
      padding-right: 2px;
      background-color: white;
      font-family: Roboto, Arial, sans-serif;
      font-size: 16px;
      color: #666;
      height: 100%;
      justify-content: center;
    }

    #contenedor {
      align-items: center;
      justify-content: center;
      border-radius: 5px;
      border: solid 1px #ccc;
      box-shadow: 1px 2px 5px rgba(0, 0, 0, .31);
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    #footer {
      border-radius: 5px;
      border: solid 1px #ccc;
      box-shadow: 1px 2px 5px rgba(0, 0, 0, .31);
      background-color: green;

    }

    #form {
      justify-content: center;
      height: 90vh;
    }

    ul.navbar {
      list-style-type: none;
      padding: 0;
      margin: 0;
      position: absolute;
      top: 2em;
      left: 1em;
      width: 9em
    }

    h1 {
      font-family: Helvetica, Geneva, Arial,
        SunSans-Regular, sans-serif;
      color: white;
      text-align: center;
    }


    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: blue;
    }
    #divDerecho{
      justify-content: center;
    }
    #formUl {
      background-color: white;
      height: max-content;
    }
    #formTest{
      background-color: white;
      margin-top: 17px;
      height: 90vh;
    }
    li {
      
      line-height:100%;
      display: inline;
    }

    li a {
      float: left;
      display: block;
      color: white;
      text-align: center;
      padding: 5px;
      text-decoration: none;
    }

    li a:hover {
      background-color: #111111;
    }

    form li {
      list-style: none;
      margin-bottom: 5px;
    }

    form ul li label {
      float: left;
      clear: left;
      width: 100px;
      text-align: right;
      margin-right: 10px;
      font-family: Verdana, Arial, Helvetica, sans-serif;
      font-size: 14px;
    }

    form ul li input,
    select,
    span {
      float: left;
      margin-bottom: 10px;
    }

    form textarea {
      float: left;
      width: 350px;
      height: 150px;
    }

    [type="submit"] {
      clear: left;
      margin: 20px 0 0 230px;
      font-size: 18px;
      background-color: blue;
      color:whitesmoke;
    }